html, body {
	width: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px;
	display: flex;
}

.left-column {
	width: 65%;
	position: relative;
}

.right-column {
	width: 35%;
	margin-top: 60px;
}

.left-column img {
	width: 400px;
	height: 500px;
	position: center;
	left: 0;
	top: 0;
	opacity: 1;
}

.product-description {
	border-bottom: 1px solid #E1E8EE;
	margin-bottom: 20px;
}

	.product-description span {
		font-size: 12px;
		color: #358ED7;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-decoration: none;
	}

	.product-description h1 {
		font-weight: 300;
		font-size: 52px;
		color: #43484D;
		letter-spacing: -2px;
	}

	.product-description p {
		font-size: 16px;
		font-weight: 300;
		color: #86939E;
		line-height: 24px;
	}
/* Product Price */
.product-price {
	align-items: center;
}

	.product-price span {
		font-size: 26px;
		font-weight: 300;
		color: #43474D;
		margin-right: 20px;
	}
