@model BusinessERP.Models.Employee

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Support/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<br />
<h2>Welcome</h2>
<h3>@Model.EmployeeName</h3>
<br />
<img src=@Url.Content(Model.ProfilePicture.ToString()) alt="Avater" width="150" height="150" />
<br />
<br />
<div class="container">
    <br />
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 30rem;">
                <div class="card-body" style="border:inherit">
                    <h3 class="card-title">Registration Request</h3>
                    @if ((int)ViewData["TotalRR"] > 0)
                    {
                        <p class="card-text">
                            Total pending request to registration is @ViewData["TotalRR"]
                        </p>
                        <a href="/Support/ViewRegistrationRequest" class="btn btn-dark">View Requests</a>
                    }
                    else
                    {
                        <p class="card-text">
                            No pending registration requests
                        </p>
                    }
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 30rem;">
                <div class="card-body"  style="border:inherit;">
                    <h3 class="card-title">Request For Support</h3>
                    @if ((int)ViewData["TotalRFS"] > 0)
                    {
                        <p class="card-text">
                            Total pending request for support is @ViewData["TotalRFS"]
                        </p>
                        <a href="/Support/ViewSupportRequest" class="btn btn-dark">View Requests</a>
                    }
                    else
                    {
                        <p class="card-text">
                            No pending requests for support
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>