
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Support/_Layout.cshtml";
}

<h2>Report</h2>
<br />
<div style="border:solid">
    <i class="fas fa-chart-bar">
        <h3>Registration Log Report</h3>
        <a href="/Support/RegistrationLogReport">
            <button type="button">
                View
            </button>
        </a>
    </i>
</div>
<br />
<div style="border:solid">
    <i class="fas fa-chart-pie">
        <h3>Support Log Report</h3>
        <a href="/Support/SupportLogReport">
            <button type="button">
                View
            </button>
        </a>
    </i>
</div>
<br />
<div>
    <a href="/Support/Index">
        <button type="button">
            Back
        </button>
    </a>
</div>