
@{
    ViewBag.Title = "SupportLogReport";
    Layout = "~/Views/Support/_Layout.cshtml";
}

<h2 style="position:center">Support Log Report With Pie Chart</h2>
<canvas id="myChart" width="400" height="150"></canvas>
<script src="~/Scripts/Chart.min.js"></script>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Content/JS/Support/SupportLogPieChart.js"></script>
<br />
<h4 style="position:center"> Fig : Support Log Report Using Pie Chart</h4>
<br />
<div>
    <a href="/Support/Report">
        <button type="button">
            Back
        </button>
    </a>
</div>