@model IEnumerable<BusinessERP.Models.EmployeeText>

@{
    ViewBag.Title = "SendByMe";
    Layout = "~/Views/EmployeeText/_Layout.cshtml";
}

<h2>SendByMe</h2>


<table id="view">
    <tr>
        <th>
            To
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TextBody)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TextBody)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReceiverUserName)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.TextId })
        </td>
    </tr>
}

</table>
