
@{
    ViewBag.Title = "Conformation";
    Layout = "~/Views/Customer/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/CSS/Alert.css" rel="stylesheet" />
<div class="alert alert-primary">
    <h3>Congratulation!!</h3>
    <p>Your order is placed.</p>
    <p>Thank you for shopping at our store</p>
</div>
<div>
    <a style="width:100%" class="btn btn-dark" href="/Customer/Index">Back</a>
</div>

