
@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Customer/_Layout.cshtml";
}

<h2>Report</h2>
<br />
<div style="border:solid">
    <i class="fas fa-chart-bar">
        <h3>Product Perches Report</h3>
        <a href="/Customer/ProductPerchesReport">
            <button type="button">
                View
            </button>
        </a>
    </i>
</div>
<br />
<div style="border:solid">
    <i class="fas fa-chart-line">
        <h3>Shopping Expenses Report</h3>
        <a href="/Customer/ShoppingExpensesReport">
            <button type="button">
                View
            </button>
        </a>
    </i>
</div>
<br />
<div>
    <a href="/Customer/Index">
        <button type="button">
            Back
        </button>
    </a>
</div>

