@{
    ViewBag.Title = "About";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<div style="text-align:center">
    <h1 style="color:red;">About Us</h1>
</div>
<br />
<div style="text-align:center">
    <span style="color:black;background-color:white;align-content:center">
        We produce best day to day goods in our company. We select the best materials over the country to make our products.<br />
        We have best workers working here to give the best product to you. Our gole is to become the number one shopping store in the country.<br />
        We also provide supports to look after the problem of our user.
    </span>
</div>
<br />