
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Conformation</title>
</head>
<body>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/CSS/Alert.css" rel="stylesheet" />
    <div class="alert alert-primary">
        <h3>Thanks for contacting with support</h3>
        <p>We will go through your problem within 24 hours</p>
        <p>Check your mail for farther procedure.</p>
    </div>
    <div>
        <a style="width:100%" class="btn btn-dark" href="/Home/Index">Back</a>
    </div>
</body>
</html>
