@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<div style="text-align:center">
    <h1 style="color:red;">Contact</h1>
</div>
<br />
<br />
<div style="text-align:center;">
    <span style="color:black;background-color:white;">
        Email: info@alphenterprice.ltd.com<br />
        Phone: 1-800-123-4567<br />
        Fax: 1-800-890-1234<br />
        Address: 1234 Main Street, Anytown, Bangladesh<br />
        <a href="#">http://www.facebook.com/alphenterprice.ltd </a><br />
        <a href="#">http://www.twitter.com/alphenterprice.ltd</a>
    </span>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

