@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 align="center" style="color:red;">Alpha Enterprice LTD.</h1>
<br />
<br />
<div style="text-align:center">
    <span align="center" style="color:black;background-color:white;">
        Join our site to buy day to day goods in a conveniant price. Register today and start shopping.<br />
        If your are a seller who sells row materials or small goods to build products. You are also most welcome to register to our site. <br />
        We will buy you products If the qualities are good.
    </span>
</div>
<br />
<br />
<br />
<br />
<div align="center">
    <a href="/Home/Login">
        <button class="button">Login</button>
    </a>
    <a href="/Home/Registration">
        <button class="button">Register</button>
    </a>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />


