@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 align="center" style="color:red;">Login</h1>
<br />
<br />
<br />
<div align="center">
    <form method="post" action="/User/Login">
        <table align="center">
            <tr>
                <td style="color:white;background-color:black;">UserName : </td>
                <td><input style="width: 97%;" type="text" name="UserName" /></td>
            </tr>
            <tr>
                <td style="color:white;background-color:black;">Password : </td>
                <td><input style="width: 97%;" type="password" name="Password" /></td>
            </tr>
            <tr><td colspan="2"></td></tr>
            <tr>
                <td colspan="2">
                    <input class="button" type="submit" name="Login" value="Login" />
                    <input class="button" type="reset" value="Reset" />
                </td>
            </tr>
        </table>
        <span style="color:red;background-color:white">
            @TempData["Error"]
        </span>
    </form>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
