@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<h1 align="center" style="color:red;">Login</h1>
<br />
<div align="center">
    <form method="post" action="/User/Login">
        <table align="center">
            <tr>
                <td style="color:white;background-color:black;">UserName : </td>
                <td><input style="width: 97%;" type="text" name="UserName" /></td>
            </tr>
            <tr>
                <td style="color:white;background-color:black;">Password : </td>
                <td><input style="width: 97%;" type="password" name="Password" /></td>
            </tr>
            <tr><td colspan="2"></td></tr>
            <tr>
                <td colspan="2">
                    <input class="button" type="submit" name="Login" value="Login" />
                    <a href="/Home/Index"><input class="button" type="button" value="Back" /></a>
                </td>
            </tr>
        </table>
        <br />
        <div style="color:red;background-color:black;width:30.8%;">
            @TempData["Error"]
            @TempData["P"]
            @if (TempData["P"] != null)
            {
                <br />
                <a href="/Home/Registration" style="color:cyan;">Go To Registration</a>
            }
        </div>
    </form>
</div>
